**/.DS_Store
*.exe
.vscode
.idea
*.gprof
*.out
*.gcda
*.dll
*.o
bin/*.obj
bin/*.ini
cmake-build-*
bin/*.dll
bin/*.pdb
bin/*.ilk
!3rd/WinICD/libOpenCL.dll
!3rd/WinICD/libOpenCL.dll.a
bin/coverage/*.html
bin/fuzz/*.input
bin/Yaksha
bin/yakshac
bin/yakshavz
bin/YakshaFuzz
bin/YakshaTests
bin/cmakecarpntr
comp_output_test
__pycache__
!carpntr/build/program_code.c