*.exe
.vscode
.idea
*.gprof
*.out
*.gcda
*.dll
*.o
bin/*.obj
bin/*.ini
cmake-build-debug
cmake-build-debug-visual-studio
cmake-build-debug-debug-visual-studio
cmake-build-release
cmake-build-debug-coverage
cmake-build-debug-clang
bin/*.dll
bin/*.pdb
bin/*.ilk
build
bin/rg1
!3rd/WinICD/libOpenCL.dll
!3rd/WinICD/libOpenCL.dll.a
bin/coverage/*.html
bin/fuzz/*.input
bin/Yaksha
bin/yakshac
bin/YakshaFuzz
bin/YakshaTests
comp_output_test
cmake-build-debug-zigcc
