[submodule "3rd/Catch2"]
	path = compiler/3rd/Catch2
	url = https://github.com/catchorg/Catch2.git
	branch = v2.x
[submodule "3rd/utfcpp"]
	path = compiler/3rd/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "runtime/raylib"]
	path = compiler/runtime/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "runtime/raygui"]
	path = compiler/runtime/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "compiler/3rd/reproc"]
	path = compiler/3rd/reproc
	url = https://github.com/DaanDeMeyer/reproc.git
[submodule "compiler/runtime/net/mbedtls"]
	path = compiler/runtime/net/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "compiler/runtime/net/mongoose"]
	path = compiler/runtime/net/mongoose
	url = https://github.com/cesanta/mongoose.git
