**/.DS_Store
*.exe
.vscode
.idea
*.gprof
*.out
*.gcda
*.dll
*.o
bin/*.obj
bin/*.ini
cmake-build-*
bin/*.dll
bin/*.pdb
bin/*.ilk
!3rd/WinICD/libOpenCL.dll
!3rd/WinICD/libOpenCL.dll.a
bin/coverage/*.html
bin/fuzz/*.input
bin/Yaksha
bin/yakshac
bin/yakshadmp
bin/yakshavz
bin/YakshaFuzz
bin/YakshaTests
bin/cmakecarpntr
bin/raylib-parser
comp_output_test
__pycache__
!carpntr/build/program_code.c
test_data/document_samples/build
test_data/document_samples/*.exe
test_data/document_samples/*.c
test_data/document_samples/*.html
test_data/document_samples/*.js
test_data/document_samples/*.wasm
test_data/document_samples/*.data
test_data/document_samples/factorial
test_data/document_samples/wind_tree
test_data/document_samples/gui_window
/test_data/document_samples/wind_tree_gs
/hammer/build/hammer
/hammer/build/hammer-aarch64-linux-musl
/hammer/build/hammer-aarch64-macos-gnu
/hammer/build/hammer-i386-linux-musl
/hammer/build/hammer-x86_64-linux-musl
/hammer/build/hammer-x86_64-macos-gnu
/hammer/build/program_code.c
/bin/hammer.bin/yaksha*
/test_data/sample_hello_threads.c
/test_data/sample_hello_threads
